/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
header{
  height: 90px;
  width: 100%;
  color: #fff;
  background-color:#26d0c9;
}

.header-logo{
  font-size: 36px;
  float: left;
  padding: 20px 40px;
  
}

header li{
  float: left;
  padding: 33px 20px;
}

/*ここから中身*/
/*ここから中身*/
.txt-container{
  padding: 100px 80px;
}

.txt-container h1{
  font-size: 140px;
}

.txt-container span{
  color:#ff4a4a;
}

.txt-container h2{
  font-size:60px;
}

.contents2{
  height: 500px;
  padding-bottom: 100px;
}

.lesson-list{
  padding: 0px 80px;
}

.lesson-list h3{
  font-size: 28px;
  padding-bottom: 15px;
  border-bottom: 2px solid #dee7ec;
}

.lesson{
  padding-top: 50px;
  padding-right: 40px;
  float: left;
}
.lesson p{
  font-size: 24px;
  padding-top: 30px;
}

.contents3{
  padding-left: 80px;
  margin-bottom: 100px;
}

.contents3 h3{
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.form p{
  padding-bottom: 10px;
}

.form input, textarea{
  font-size: 18px;
  width: 400px;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #dee7ec;
}

.contact-submit{
  color: #889eab;
  background-color: #dee7ec;
}

/*以下フッター*/
/*以下フッター*/
footer{
  height: 200px;
  color: #fff;
  background-color: #2f5167;
}

.footer-container{
  height: 120px;
  padding: 40px;
}

.footer-left{
  font-size: 32px;
  float: left;
}

.footer-right{
  float: right;
}

.footer-right li{
  padding-bottom: 20px;
}
